

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this define what 1 rem is
    font-size: 62.5%; // 1rem = 10px , 10px\16px = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem=9px, // 9px\16px=56.25%
    }
    @include respond(tab-port) {
        // width < 900?
        font-size: 50%;
        //1 rem = 8px, 8/16 = 50%
    }

    // @include respond(phone) {

    //     font-size: 30%;
    //1 rem = 4.8px, 4.8/16 = 30%
    // }

    @include respond(big-desktop) {
        font-size: 75%;
        //1rem = 12, 12/16px = 75%
    }
    
    
}

body {

    box-sizing: border-box;
    padding: 3rem;

    @include respond (tab-port) {
        padding: 10rem;
    }
}

/*
html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    // background-color: $color-black;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    // color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

*/