@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;

    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone   ----------------------------        0-425
600 - 900px:    Tablet  ----------------------------      425-768
900 - 1200px:   desktop ----------------------------      768-1024
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop ------------------------     1440+
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint ==phone {

        @media only screen and (max-width: 26.5625em) {
            // @media (max-width: 425px) {
            @content
        }

        ; //600px 
        // 16px=1em so 600/16=37.5em
        // 425/16
    }

    
    @if $breakpoint ==tablet {

        @media only screen and (max-width: 48em) {
        // @media (max-width: 768px) {
            @content
        }

        ; //900px
    }

    
    @if $breakpoint ==desktop {

        @media only screen and (max-width: 64em) {
        // @media (max-width: 1024px) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint ==big-desktop {

        @media only screen and (min-width: 90em) {
        // @media (min-width: 1440px) {
            @content
        }

        ; //1800
    }
}


@mixin respond-phone {
    @media (max-width: 425px) {
        @content
    }

    ;
}